@charset "UTF-8";

body{
    background-color: antiquewhite;
}

header{
    font-size: 24px;}

header{
    border: solid 2px black;
    padding: 2px 2px;
    border-radius: 10px;
    background: linear-gradient(white,rgb(226, 188, 16));

}

h1{
    border-bottom: dashed 2px black;
    color: red;
}

.fan {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

a:hover{
    font-size: 2em;
}